
  
    .leftsidetxt{
     height: 100%;
     @include flexbox(center,start,column,50px);
     background-color: $txtc;
     padding:28px 28px  28px 15px;
     h6{ font-weight: 700;
        font-size: 1.3em;
       
    

     }
     h1{
         font-weight: 400;
         font-size: 4.7rem;
        
         line-height: 1.1em;
     }
     p{
         font-weight: 400;
         font-size: 1.4em;
         
         color: $thirdc;
         
         line-height: 1.5em;
     }
     .button{
        background-color: $black;
        color: $txtc;
        font-size: 1.2em;

        &::before {
           
            background: linear-gradient(90deg, transparent, rgba(221, 213, 213, 0.374), transparent);
          
        }
     }
    }
     .rightsideimg{
         height:708.26px;
         width: 100%;
         overflow: hidden;
         position: relative;
         img{
             @extend %baseimg;
         }
         &::before {
             content: '';
             position: absolute;
             left: 0;
             top: 0;
             width: 50%;
             height: 100%;
             background-color: rgba(109, 106, 106, 0.189);
             transform: scaleY(0);
             transform-origin: bottom;
             transition: transform 0.3s ease-in-out;
         }
         
         &:hover::before {
             transform: scaleY(1);
         }
         
         &::after {
             content: '';
             position: absolute;
             right: 0;
             top: 0;
             width: 50%;
             height: 100%;
             background-color: rgba(109, 106, 106, 0.189);
             transform: scaleY(0);
             transform-origin: top;
             transition: transform 0.3s ease-in-out 0.4s; 
         }
         
         &:hover::after {
             transform: scaleY(1);
         }
         
     }
 